    <div class="column is-two-third">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="/user/{{user.image}}" alt="{{user.username}}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
              <br>
              <p>
                {{post.description}}
              </p>              
              <br>
            </p>
          </div>
        </div>
      </article>
    </div>