

{{> bio-details posts = posts}}


<!-- Loop over each object in the blogs array -->
{{#each posts as |post| }}

{{> post-details}}

{{!-- <div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/post/{{post.id}}">{{post.user.username}}</a>
    </h2>
    <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.description}}
    </p>
  </div>
</div> --}}
{{/each}}
