<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <a href="/post/{{post.id}}">{{post.username}}</a>
    </h2>
    {{log post.comments}}
    <p>Created by {{post.user.username} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.description}}
    </p>
  </div>
  <div>
    {{#each user.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  </div>
</div>